@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

body {
    text-align: center;
    height: 100vw;
    background: lightgray;
    font-family: 'Nova Square', cursive;
}

.btn {
    margin: 0.5vw;
    padding: 1.5vw;
}

#display {
    font-size: 2rem;
}

#calculator {
    background: whitesmoke;
    width: 40vw;
}